<p class="bg-success text-center"><%= notice %></p>
<p class="bg-danger text-center "><%= alert %></p>

<div class="container">
  <h1>Clients</h1>

  <%= link_to "New client", new_client_path %>

  <div id="clients">
    <table class="table table-striped-columns text-white">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-white">Name</th>
          <th scope="col">Age</th>
          <th scope="col" class="text-white">Movie</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
